<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.selenium.Test.SearchBusTest" />
			<class name="com.selenium.Test.OperatorTest" />
			<class name="com.selenium.Test.HomeTest" />
			<class name="com.selenium.Test.RPollTest" />
			<class name="com.selenium.Test.AwardRecognitionTest" />
			<class name="com.selenium.Test.LoginTest" />
			<class name="com.selenium.Test.RedBusCareTest" />
			<class name="com.selenium.Test.BusHireTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

